<h1>Contacts</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Message</th>
      <th>E-mail</th>
      <th>Delete contact</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |contact|}}
    <tr>
      <td>{{contact.message}}</td>
      <td>{{contact.email}}</td>
      <td><button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>Delete</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>